<meta http-equiv="content-type" content="text/html; charset=utf-8" />

<div ng-controller="PatientsShowController">
	<div class="ui basic segment"></div>
		<div class="ui icon info message" ng-hide="patients.length > 0">
			 <i class="warning sign icon"></i>
			  <div class="content">
			    <div class="header">
			      Desculpe.
			    </div>
			    <p>Mas não há nenhum paciente cadastrado.</p>
			    <a ui-sref="pacientes.create">Cadastre já um paciente.</a>
			  </div>
		</div>
	
	<div ng-show="patients.length > 0">
		<div class="ui horizontal divider">
				Pacientes Cadastrados
		</div>	
		
		<div class="ui basic vertical segment">
			<div class="ui six doubling cards">
			
				<!-- CartÃ£o do Paciente -->
				<div ng-repeat="patient in patients" class="card">
					<div class="content">
					   	<i ui-sref="pacientes.show({pacienteId: patient.id})" class="right floated link content green icon"></i>
					  <div class="header">{{ patient.firstName}} {{ patient.lastName }}</div>
					 
					  	<div ng-show="patient.address.city" class="description">
					  		{{patient.address.city.name}}, {{patient.address.city.state.uf}}
					  	</div>
					  	
					  	<div ng-hide="patient.address.city" class="description">
					  		{{patient.observation}}
					  	</div>
					</div>
					
					<div class="extra content">
						<a ui-sref="pacientes.create({pacienteId: patient.id})" class="left floated">
							<i class="edit icon"></i>
		    				Editar
		    			</a>
		    			<a ng-click="deletePatient(patient)" class="right floated">
		    				<i class="delete icon"></i>
		    				Excluir
		    			</a>
					</div>
					
				</div>
			</div>
		</div>
		
		
	</div>	
</div>