<meta http-equiv="content-type" content="text/html; charset=utf-8" />

<div ng-controller="PatientsShowController">
		<div class="ui basic segment"></div>
			<div class="ui icon info message" ng-hide="patients.length > 0">
				 <i class="warning sign icon"></i>
				  <div class="content">
				    <div class="header">
				      Desculpe.
				    </div>
				    <p>Mas não há nenhum paciente cadastrado.</p>
				    <a ui-sref="pacientes.create">Cadastre já um paciente.</a>
				  </div>
		</div>

		<div ng-show="patients.length > 0">
			<div class="ui horizontal divider">
					Pacientes Cadastrados
			</div>	
			
			<div class="ui basic vertical segment">
				<div class="ui feed">
				
					<!-- CartÃ£o do Paciente -->
					<div ui-sref="pacientes.show({pacienteId: patient.id})" ng-repeat="patient in patients" class="event">
						<div class="label">
							<!-- <img ng-src="{{ patient.image }}"> -->				
						</div>
						<div class="content">
						  <div class="summary">
						  	<a class="user"> {{ patient.firstName }} {{ patient.lastName }} </a>
						  </div>
						  <div class="extra text">
							{{ patient.address.city.name }}, {{ patient.address.city.state.uf }}
						  </div>
						  <div class="meta">
						  	<a>
						  		<i class="edit icon"></i> Editar
						  	</a>
						  	<a class="like">
						  		<i class="delete icon"></i> Excluir
						  	</a>
						  </div>
						</div>
					</div>
				</div>
			</div>
		</div>
</div>