<meta http-equiv="content-type" content="text/html; charset=utf-8" />

<div ng-controller="PatientShowController">

<div class="ui horizontal divider">Paciente</div>
	
	<div ng-show="error" class="ui icon negative message">
	  <i class="warning sign icon"></i>
	  <div class="content">
		  <div class="header">
		    Que pena.
		  </div>
	  	<p>O paciente procurado não existe mais.</p>
	  </div>
	</div>
	
	<div ng-show="select" class="ui icon info message">
	  <i class="warning sign icon"></i>
	  <div class="content">
		  <div class="header">
		    Ops.
		  </div>
	  	<p>Para visualizar um paciente, é necessário selecioná-lo!</p>
	  	<a>Lista de Pacientes</a>
	  </div>
	</div>


	<div ng-hide="select || error">
			<!-- Header -->
			<div class="ui basic vertical alignment segment">
				
				
				
				<!-- no mÃ¡ximo 4, os principais -->
				<div class ="ui basic horizontal alignment segment">			
					
					<div class="ui four column grid">
						
						<div class="column">
						
							<div class="ui basic left floated segment">
								<img ng-show="patient.image" class="ui medium rounded image" src="{{ patient.image }}">
								<div ng-hide="patient.image">
									<i ng-hide="patient.gender" class="ui massive user icon"></i>
									<i ng-show="patient.gender == 'Masculino' && !isChild()" class="ui massive male icon"></i>
									<i ng-show="patient.gender == 'Feminino' && !isChild()" class="ui massive female icon"></i>
									<i ng-show="isChild()" class="ui massive child icon"></i>
								</div>
								<div class="ui center aligned large header">{{ patient.firstName }}
								<div class="sub header">{{ patient.lastName }}</div></div>
							</div>
						
						</div>
						
						<div class="column">
						    <h2 ng-show="patient.phone" class="ui header">
								<i class="fax icon"></i>
								<div class="content">
									Telefone
								<div class="sub header">{{ patient.phone }}</div>
								</div>
							</h2>
							
							<h2 ng-show="patient.celPhone" class="ui header">
								<i class="mobile icon"></i>
								<div class="content">
									Celular
								<div class="sub header">{{ patient.celPhone }}</div>
								</div>
							</h2>
							
							<h2 ng-show="patient.birthDate" class="ui header">
								<i class="calendar outline icon"></i>
								<div class="content">
									Data de Nascimento
								<div class="sub header">{{ patient.birthDate | date:'dd/MM/yyyy' }}</div>
								</div>
							</h2>		
						</div>
						
						<div class="column">
						
							<h3 ng-show="patient.email" class="ui header">
								<i class="mail icon"></i>
								<div class="content">
									Email
								<div class="sub header">{{patient.email}}</div>
								</div>
							</h3>
							
							<h3 ng-show="patient.address.city" class="ui header">
								<i class="marker icon"></i>
								<div class="content">
									Localidade
								<div class="sub header">{{ patient.address.city.name}}, {{ patient.address.city.state.uf }}</div>
								</div>
							</h3>
							

							<h3 ng-show="patient.address" class="ui header">
								<i class="home icon"></i>
								<div class="content">
									Endereço
								<div class="sub header">{{ patient.address.street}}, {{ patient.address.number }}</div>
								</div>
							</h3>
							
							<h3 ng-show="patient.civilState" class="ui header">
								<i class="heart icon"></i>
								<div class="content">
									Estado Civil
								<div class="sub header">{{ patient.civilState }}</div>
								</div>
							</h3>
							
						</div>
						
						<div class="column">
							
							<h4 ng-show="patient.observation" class="ui header">
								<i class="comment icon"></i>
								<div class="content">
									Observações
								<div class="sub header">{{patient.observation}}</div>
								</div>
							</h4>
						
						</div>
				</div>
				
			</div>
								
			
			<div ng-show="patient.activities.length > 0">
				<div class="ui horizontal divider">
						Atividades do Paciente
				</div>
				
					<!-- -->
					<div class="ui basic vertical alignment segment">
						 
						<div class="ui feed">
						  <div class="event" ng-repeat="consulta in patient.activities">
							<div class="label">
							  <i ng-show="consulta.type == 0" class="red calendar outline icon"></i>
							  <i ng-show="consulta.type == 1" class="green calendar outline icon"></i>
							</div>
							<div class="content">
							  <div class="summary">
								 <a href="#">{{ consulta.date | date:'dd/MM/yyyy' }}</a>
								<div class="date">
								  {{ consulta.hour }}
								</div>
							  </div>
							  <div class="extra text">
								  {{ consulta.observation }}
							  </div>
							  <div class="meta">
								<a><i class="treatment icon"></i>Prontuário</a>
								<a><i class="lab icon"></i>Prescrição</a>
							  </div>
							</div>
						  </div>
						</div>
						
					</div>
				</div>
			
			<div ng-hide="patient.activities.length > 0" class="ui icon info message">
			  <i class="info icon"></i>
			  <div class="content">
			  <div class="header">
			   Ops.
			  </div>
			  	Ainda não há consultas agendadas para este paciente.
			   </div>
			</div>
	</div>
</div>	
<!-- fim pacientes -->