<div ng-controller="ConsultasShowController" class="ui six doubling cards">

	<!-- Lista dos Pacientes -->
	  <a ng-repeat="consulta in consultas" id="consulta" class="card">
		<div class="content">
		  <div class="header">{{ consulta.title }}</div>
		  <div class="meta">
			
		  </div>
		  <div class="description">
			{{ consulta.description }}
		  </div>
		</div>
		<div class="extra content">
		  <div class="right floated">
		  <i class="calendar outline icon"></i>
			{{ consulta.date }}
		  </div>
		  <div class="friends">
			<i class="clock icon"></i>
			{{ consulta.time }}
		  </div>
		</div>
		
	  </a>
</div>