<div class="ui green raised segment">
	<!-- Menu de cima -->
	<div class="ui basic vertical segment">
		
		<div class="ui two column grid">		
			<div class="column">
				<div class="ui action input">
				  <input type="text" placeholder="Buscar consulta...">
				  <div class="ui green icon button"><i class="search icon"></i></div>
				</div>
			</div>
			<!--
			<div class="right aligned column">
				<div class="ui labeled icon button">
					<i class="write icon"></i>
					Cadastrar Novo
				</div>
			</div>
			-->
		</div>
		
	</div>	

	<div class="ui horizontal divider">
			Lista de Consultas
	</div>	

	<div class="ui basic vertical segment">
		<div ng-controller="ConsultasShowController" class="ui six doubling cards">
		
		<!-- Lista dos Pacientes -->
		  <a ng-repeat="consulta in consultas" id="consulta" class="card">
			<div class="content">
			  <div class="header">{{ consulta.title }}</div>
			  <div class="meta">
				
			  </div>
			  <div class="description">
				{{ consulta.description }}
			  </div>
			</div>
			<div class="extra content">
			  <div class="right floated">
			  <i class="calendar outline icon"></i>
				{{ consulta.date }}
			  </div>
			  <div class="friends">
				<i class="clock icon"></i>
				{{ consulta.time }}
			  </div>
			</div>
			
		  </a>
		</div>
	</div>	
</div>