<script>

(function ($) {
    $('.ui.form').form({        
      sinaisVitais: {
        identifier: 'sinaisVitais',
        rules: [{
          type: 'empty',
          prompt: 'Por favor preencha os sinais vitais'
        }]
      },       
      monitoracao: {
        identifier: 'monitoracao',
        rules: [{
          type: 'empty',
          prompt: 'Por favor preencha a monitoração'
        }]
      }       
    }, {
      on: 'blur',
      inline: 'true'
    });
	
	
	$('.ui.modal.prontuario')
		 .modal({
			closable  : false,
			onDeny    : function(){
			  return false;
			},
			onApprove : function() {
				console.log('ok');
				var s = $('.ui.form').form('validate form');
				console.log(s);
				return false;
			}
		})
		.modal('attach events', '.prontuario.button', 'show')
	;
	
	
  }(jQuery));



</script>

<!-- Pacientes --> 
<div class="ui green raised segment">

		<div class="ui grid">
			<div class ="row">			
				<div class="four wide column"></div>
				
				<div class="two wide column">
					<div class="ui horizontal segment">
						<div class="ui small image">
							<img src="images/elliot.jpg">
						</div>
					</div>
				</div>
				
				<div class="four wide column">
					<div class="ui horizontal segment">
						<div class="ui center aligned large header">Dr. House
							<div class="sub header">Medical Detective.</div>
						</div>
				
					</div>
				</div>
				
				<div class="six wide column">
					<div class="ui left floated statistic">
						<div class="value">
							<i class="alarm outline icon"></i>3
						</div>
						<div class="label">
							Atividades Hoje
						</div>
					</div>
				</div>
			</div>
			
			<div class="ui three column row">
				
				<div class="twelve wide centered column">				
					
					<div class="ui horizontal divider">
						Atividades
					</div>
				</div>
				<div class="eleven wide centered column">
					<div class="ui basic vertical segment">
						
						<div class="ui large feed">
						  <div class="event">
							<div class="label">
							  <img src="images/elliot.jpg">
							</div>
							<div class="content">
							  <div class="date">
								  14:30
							  </div>
							  <div class="summary">
								<a class="user">
								  Elliot Fu
								</a> consulta marcada
							  </div>
							  <div class="extra text">
								O paciente reclamou de dores nas costas.
							  </div>
							  <div class="meta">
								<a class="prontuario button">
									<i class="treatment icon"></i> Prontuario
								</a>
							  
								<a class="like">
								  <i class="cancel icon"></i> Cancelar
								</a>
								<a>
									<i class="calendar outline icon"></i> Reagendar
								</a>
							  </div>
							</div>
						  </div>
						  <div class="event">
							<div class="label">
							  <i class="hospital icon"></i>
							</div>
							<div class="content">
								<div class="date">
								  15:00
								</div>							 
							 <div class="summary">
								Visita ao hospital
							  </div>
							  <div class="extra text">
								Há uma reunião marcada para rever as normas dos plantões.
							  </div>
							  <div class="meta">
								<a class="like">
								  <i class="cancel icon"></i> Cancelar
								</a>
								<a>
									<i class="calendar outline icon"></i> Reagendar
								</a>
							  </div>
							</div>
						  </div>
						  
						  <div class="event">
							<div class="label">
							  <img src="images/blank-person.jpg">
							</div>
							<div class="content">
								<div class="date">
								  16:30
								</div>							 
							 <div class="summary">
								<a class="user">
								  Joana Krause
								</a> consulta marcada.
							  </div>
							  <div class="meta">
								<a>
									<i class="treatment icon"></i> Prontuario
								</a>
								
								<a class="like">
								  <i class="cancel icon"></i> Cancelar
								</a>
								<a>
									<i class="calendar outline icon"></i> Reagendar
								</a>
							  </div>
							</div>
						  </div>
						  
						</div>
					</div>				
				</div>
			
			
			</div>
			
			
			
		</div>
		
		<div class="ui modal prontuario" ng-controller="ProntuarioController">
			<i class="close icon"></i>
			<div class="header">
				<div class="ui centered header">Prontuário</div>
			  </div>
			  <div class="content">
				<i class="massive treatment icon"></i>
				<div class="description">				
					<div class="ui fluid form segment">
					  <div class="two fields">
						<div class="field">
							<div class="ui icon input">
								<input type="text" id="sinaisVitais" ng-model="user.sinaisVitais" placeholder="Sinais vitais">
								<i class="asterisk red icon"></i>
							</div>
						</div>
						<div class="field">
							<div class="ui icon input">
								<input type="text" id="monitoracao" ng-model="user.monitoracao" placeholder="Monitoração">
								<i class="asterisk red icon"></i>
							</div>
						</div>
					  </div>
					  <div class="two fields">
						<div class="field">
						  <input type="text" placeholder="Histórico de Saúde">
						</div>
						<div class="field">
						  <input type="text" placeholder="Anamnese">
						</div>
					  </div>
					</div>
				</div>
			  </div>
			  <div class="actions">
			  
				<div class="ui animated button">
					<div class="hidden content">Prescrição</div>
					<div class="visible content">
						<i class="file text icon"></i>
					</div>
				</div>
			  
				<div class="ui animated button positive" ng-click="register()">
					<div class="hidden content">Arquivar</div>
					<div class="visible content">
						<i class="pin icon"></i>
					</div>
				</div>			
			  </div>
		</div>
</div>	
<!-- fim pacientes -->	

</body>
</html>