<script>
function setActiveItem(currentDiv){
	var menuItem = document.getElementsByClassName("ui active button")
	menuItem[0].className = "ui button"
	currentDiv.className = "ui active button"
}
</script>

<div ng-controller="AgendamentoShowController" class="ui green raised segment">
	<!-- Menu de cima -->
	<div class="ui basic vertical segment">
		
		<div class="ui two column grid">	
			
			<div class="column">
				<div class="ui icon inverted green buttons">
				
					<div ng-click="toCalendar()" onclick='setActiveItem(this)' class="ui button">
					  <i class="calendar outline icon"></i>
					</div>
					
					<div ng-click="toGrid()" onclick='setActiveItem(this)' class="ui active button">
						<i class="grid layout icon"></i>
					</div>
					<div ng-click="toList()" onclick='setActiveItem(this)' class="ui button">
						<i class="list layout icon"></i>
					</div>
										
					<div ng-click="toAgendamento()" onclick='setActiveItem(this)' class="ui button">
						<i class="pin icon"></i>
					</div>
					
				</div>
				<!--
				<div class="display-picker">
					<input id="datepicker" value="10/10/2011" style="width:150px;" />
				</div>
				-->
			</div>
			
			<div class="right aligned column">
				<!--<div class="ui stackable two column grid">
										
					<div class="column">
						<div class="ui action input">
						  <input type="text" placeholder="Nome do paciente">
						  <div class="ui green icon button"><i class="search icon"></i></div>
						</div>
					</div>					
					
					<div class="column">
						<div class="ui action input">
						  <input type="date">
						  <div class="ui green icon button"><i class="calendar outline icon"></i></div>
						</div>
					</div>
										
				</div>
				-->
				
				<div class="ui fluid search agendamento">
					<div class="ui icon input">
						<input class="prompt" type="text" placeholder="Buscar consulta">
						<i class="search icon"></i>
					</div>
					<div class="results"></div>
				</div>
				
			</div>
			
		</div>
		
	</div>
	
	<div class="ui horizontal divider">
		{{ message }}
	</div>

	<div class="ui basic vertical segment">
		<div ng-show="tableCalendar">
			
			<!-- filtrar os dados -->
			<div class="ui labeled icon input">
				<div class="ui green label">
					Filtrar por data
				</div>
				<input type="date">
					<i class="filter icon"></i>
			</div>
			
			<!-- Tabela com os dados -->
			<table class="ui green table">
			  <thead>
				<tr>
				  <th>Paciente</th>
				  <th>Data</th>
				  <th>Hora</th>
				  <th>Telefone</th>
				  <th>Ações</th>
				</tr>
			  </thead>
			  <tbody>
				<tr ng-repeat="consulta in agendamento">
				  <td>{{ consulta.patient }}</td>
				  <td>{{ consulta.date }}</td>
				  <td>{{ consulta.hour }}</td>
				  <td>{{ consulta.phone }}</td>
				  <td>
				  <!-- Ações -->
					<div class="ui inverted icon buttons">
						<div ng-click="edit(consulta)" class="ui button">
							<i class="edit icon"></i>
						</div>
						<div class="ui red button">
							<i class="delete icon icon"></i>
						</div>
					</div>
					
				  </td>
				</tr>
			  </tbody>
			  		  
			</table>
		</div>
		
		<!-- Em Grid -->
		<div ng-show="grid" class="ui six doubling cards">
		<!-- Lista dos Pacientes -->
		  <a ng-repeat="consulta in agendamento" ng-click="edit(consulta)" id="consulta" class="card">
			<div class="content">
			  <div class="header">{{ consulta.patient }}</div>
			  <div class="meta">
				<div class="description">
				{{ consulta.observation }}
			  </div>
			  </div>
			</div>
			<div class="extra content">
			  <i class="clock icon"></i>
				{{ consulta.hour }}
			</div>
			<div class="ui bottom attached button">
				<i class="delete icon"></i>
				Excluir
			</div>
		  </a>
		</div>
		
		<!-- Em List -->
		<div ng-show="list" class="ui feed">
			<div ng-repeat="consulta in agendamento" class="event">
				<div class="label">
				  <i class="time icon"></i>
				</div>
				<div class="content">
				  <div class="summary">
					<a class="user">
					  {{ consulta.patient }}
					</a>
					<div class="date">
					  {{ consulta.hour }}
					</div>
				  </div>
				  <div class="extra text">
					{{consulta.observation}}
				  </div>
				  <div class="meta">
					<a ng-click="edit(consulta)">
						<i class="edit icon"></i>
					</a>
					<a class="like">
					  <i class="delete icon"></i> Excluir
					</a>
					
				  </div>
				</div>
			</div>
		</div>
		
		<!-- Agendamento -->
		<div ng-show="screenAgendamento" ng-controller="AgendamentoCreateController"
			class="ui fluid form agendamento">
		  <div class="two fields">
			
			<div class="field">
				<label>Paciente</label>
				<div class="ui icon input">
					<input ng-model="novoAgendamento.patient" id="patient" placeholder="Nome do Paciente" type="text">
					<i class="asterisk red icon"></i>
				</div>
			</div>
			
			<div class="field">
				<label>Telefone</label>
				<div class="ui icon input">	
					<input ng-model="novoAgendamento.phone" id="phone" placeholder="Telefone" type="tel">
					<i class="asterisk red icon"></i>
				</div>
			</div>
			
		  </div>
		  
		  <div class="three fields">
			<div class="field">
				<label>Classificação</label>
				<select ng-model="novoAgendamento.classification" class="ui dropdown">
					<option value="0">Emergência</option>
					<option value="1">Normal</option>
					<option value="2">Não Lembro</option>
				</select>
			</div>
			
			<div class="field">
				<label>Convênio</label>
				<select ng-model="novoAgendamento.covenant" class="ui dropdown">
					<option value="0">Unimed</option>
					<option value="1">IPE</option>
					<option value="2">SUS</option>
				</select>
			</div>
			
			<div class="field">
				<label>Situação</label>
				<input ng-model="novoAgendamento.situation" placeholder="Situação" type="text">
			</div>
			
			
		  </div>
		  
		  <div class="two fields">
			<div class="field">
				<label>Data</label>
				<div class="ui icon input">
					<input ng-model="novoAgendamento.date" id="date" type="date">
					<i class="asterisk red icon"></i>
				</div>
			</div>
			
			<div class="field">
				<label>Hora</label>
				<div class="ui icon input">
					<input ng-model="novoAgendamento.hour" id="hour" placeholder="hh:mm" type="text">
					<i class="asterisk red icon"></i>
				</div>
			</div>	  
		  </div>
		  
		  <div class="field">
			<label>Observações</label>
			<textarea ng-model="novoAgendamento.observation"></textarea>
		  </div>
		  
			<div class="ui green labeled icon button" ng-click="register()">
				<i class="pin icon"></i>
				Agendar
			</div>
		</div>		
		
	</div>	
</div>