<script>
$(document)
		.ready(function() {  
		
		$('select.dropdown.estado')
			.dropdown()
		;
		$('.cidade')
			.dropdown()
		;
	});
</script>

<style>
#top-steps {
	margin-top: 8px;
	margin-bottom:8px
}

</style>

<!-- Pacientes --> 
<div class="ui green raised segment">
	
	<div id="top-steps" class="ui centered grid">
		<div class="ui steps">
			  <div class="active step">
				<i class="user icon"></i>
				<div class="content">
				  <div class="title">Pessoais</div>
				  <div class="description">Informações comuns do paciente</div>
				</div>
			  </div>
			  <div class="step">
				<i class="treatment icon"></i>
				<div class="content">
				  <div class="title">Médicas</div>
				  <div class="description">Informações médicas do paciente</div>
				</div>
			  </div>
			  <div class="step">
				<i class="payment icon"></i>
				<div class="content">
				  <div class="title">Convênio</div>
				  <div class="description">Dados e informações do convênio</div>
				</div>
			  </div>
		</div>
	</div>
		
		<div class="ui clearing divider"></div>
		
		<div class="ui form">
		  <div class="two fields">
			<div class="required field">
			  <label>Nome</label>
			  <div class="two fields">
				<div class="field">
				  <input type="text" name="first-name" placeholder="Nome">
				</div>
				<div class="field">
				  <input type="text" name="last-name" placeholder="Sobrenome">
				</div>
			  </div>
			</div>
			<div class="required field">
				<label>Informações Adicionais</label>
				<div class="four fields">
					<div class="field">
						<select>
							<option value="">Sexo</option>
							<option value="1">Masculino</option>
							<option value="0">Feminino</option>
						</select>
					</div>
					<div class="field">
						<input type="text" name="age" placeholder="Idade">
					</div>
					<div class="field">
						<input type="text" name="age" placeholder="RG">
					</div>
					<div class="field">
						<input type="text" name="age" placeholder="CPF">
					</div>
			  </div>
			</div>
		  </div>
		  <div class="two fields">
			<div class="field">
				<label>Localidade</label>
				<div class="two fields">
					<div class="field">
					  <select class="ui search dropdown estado">
						<option value="">Estado</option>
						<option value="WV">West Virginia</option>
						<option value="WI">Wisconsin</option>
						<option value="WY">Wyoming</option>
					  </select>
					</div>
					
					<div class="field">
					  <select class="ui search dropdown cidade">
						<option value="">Cidade</option>
						<option value="WV">West Virginia</option>
						<option value="WI">Wisconsin</option>
						<option value="WY">Wyoming</option>
					  </select>
					</div>
					
				</div>
			</div>
			
			<div class="field">
				<label>Endereço</label>
				<div class="two fields">
					<div class="field">
						<input type="text" name="endereco" placeholder="Rua">
					</div>
					<div class="field">
						<input type="text" name="number" placeholder="Numero">
					</div>
				</div>
			</div>
			
		  </div>
		  
		  <div class="ui submit button">Próximo</div>
		</div>		
</div>	
<!-- fim pacientes -->	