<div class="ui green raised segment">
		<!-- Menu de cima -->
		<div class="ui basic vertical segment">
			
			<div class="ui two column grid">		
				<div class="column">
					<div class="ui action input">
					  <input type="text" placeholder="Buscar paciente...">
					  <div class="ui green icon button"><i class="search icon"></i></div>
					</div>
				</div>
				
				<div class="right aligned column">
					<a href="#cadastrar/paciente" class="ui green right labeled icon button">
						<i class="write icon"></i>
						Cadastrar Novo
					</a>
				</div>
			</div>
			
		</div>	
		
		<div class="ui horizontal divider">
				Pacientes Cadastrados
		</div>	
		
		<div class="ui basic vertical segment">
			<div ng-controller="PatientsShowController" class="ui six doubling cards">
			
				<!-- Cartão do Paciente -->
				<a href="#pacientes/{{patient.id}}" ng-repeat="patient in patients" class="card">
					<div class="image">
						<img src="{{ patient.image }}">				
					</div>
					<div class="content">
					  <div class="header">{{ patient.firstName}} {{ patient.lastName }}</div>
					  <div class="meta">
						{{ patient.consulta.title }}
					  </div>
					  <div class="description">
						{{ patient.consulta.description }}
					  </div>
					</div>
				</a>
			
			
			</div>
		</div>	
</div>
<!-- fim pacientes -->