<div class ="ui green raised segment" ng-controller="PatientShowController">
	<!-- Header -->
	<div class="ui basic vertical alignment segment">
		
		<div class="ui basic left floated segment">
			<img class="ui medium rounded image" src="{{ patient.image }}">
			<div class="ui center aligned large header">{{ patient.firstName }} {{ patient.lastName }}</div>
		</div>
		
		<!-- no máximo 4, os principais -->
		<div class ="ui basic horizontal alignment segment">			
			
			<div class="ui three column grid">
				<div class="column">
								
					<h2 class="ui header">
						<i class="treatment icon"></i>
						<div class="content">
							Ultima Consulta
						<div class="sub header">{{ patient.consulta.title }}</div>
						</div>
					</h2>
					
					<h2 class="ui header">
						<i class="payment icon"></i>
						<div class="content">
							Convênio
						<div class="sub header">Unimed Missões</div>
						</div>
					</h2>
					
					<h2 class="ui header">
						<i class="calendar outline icon"></i>
						<div class="content">
							Data de Nascimento
						<div class="sub header">19/04/1989</div>
						</div>
					</h2>					
					
				</div>
				
				<div class="column">
					<h3 class="ui header">
						<i class="mail icon"></i>
						<div class="content">
							Email
						<div class="sub header">joaomous@gmail.com</div>
						</div>
					</h3>
					
					<h3 class="ui header">
						<i class="fax icon"></i>
						<div class="content">
							Telefone
						<div class="sub header">(55)3312-0999</div>
						</div>
					</h3>
					
					<h3 class="ui header">
						<i class="marker icon"></i>
						<div class="content">
							Endereço
						<div class="sub header">Rua dos Andradas, 890</div>
						</div>
					</h3>
					
					<h3 class="ui medium header">
						<i class="facebook icon"></i>
						<div class="content">
							Facebook
						<div class="sub header">João Mouser</div>
						</div>
					</h3>
					
				</div>
				
				<div>
				
				</div>
		</div>		
	</div>
						
	
	<div class="ui horizontal divider">
			Atividades do Paciente
	</div>
	
	<!-- -->
	<div class="ui basic vertical alignment segment">
		 
	<div class="ui feed">
	  <div class="event" ng-repeat="consulta in patient.consultas">
		<div class="label">
		  <i class="{{ consulta.icon }}"></i>
		</div>
		<div class="content">
		  <div class="summary">
			 <a href="#">{{ consulta.title }}</a>
			<div class="date">
			  {{ consulta.date }}
			</div>
		  </div>
		  <div class="extra text">
			  {{ consulta.description }}
		  </div>
		  <div class="meta">
			<a><i class="comment icon"></i> Adicionar Comentário</a>
		  </div>
		</div>
	  </div>
	  <!-- Com Imagem, ajeitar com angular depois
	  <div class="event">
		<div class="label">
		  <i class="{{ patient.consulta.icon }}"></i>
		</div>
		<div class="content">
		  <div class="summary">
			 {{ patient.consulta.title }}
			<div class="date">
			  {{ patient.consulta.date }}
			</div>
		  </div>
		  <div class="extra images">
			<a><img src="images/image.png"></a>
			<a><img src="images/image.png"></a>
		  </div>
		  <div class="meta">
			<a class="like">
			  <a><i class="comment icon"></i> Adicionar Comentário</a>
			</a>
		  </div>
		</div>
	  </div>
	  -->
	</div>
		 
		 
	</div>
</div>
</div>	
<!-- fim pacientes -->