<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<script>
$(document)
.ready(function() {  

	$('select.dropdown.estado')
		.dropdown()
	;
	$('.cidade')
		.dropdown()
	;

	$("#address_number").numeric()
	
	$("#cep").numeric();
	
	$("#phone").mask("(999) 9999-9999");
	
	$("#celPhone").mask("(999) 9999-9999");

	$('.search.dropdown.state')
	  .dropdown()
	;
	
	$('.search.dropdown.city')
	  .dropdown()
	;
	
	$('.ui.form.contact').form({        
	      phone: {
	        identifier: 'phone',
	        rules: [{
	          type: 'empty',
	          prompt: 'Por favor insira o telefone do paciente, insira 0 caso este não tenha'
	        }]
	      },       
	      celPhone: {
	        identifier: 'celPhone',
	        rules: [{
	          type: 'empty',
	          prompt: 'Por favor insira o celular do paciente, insira 0 caso este não tenha'
	        }]
	      },
	      email: {
	          identifier: 'email',
	          rules: [{
	            type: 'email',
	            prompt: 'Por favor insira um email válido'
	          }]
	      }
	    },
	      {
	      on: 'blur',
	      inline: 'true'
	    });
	
});
</script>

<div ng-show="create">
	<div class="ui positive icon message">
	<i class="thumbs up icon"></i>
	  <div class="header">
	    Sucesso!
	  </div>
	  <p>O paciente <b ui-sref="pacientes.show({pacienteId: patient.id})"> {{ currentPatient.firstName }}</b> foi criado com sucesso.</p>
	</div>
</div>

<div ng-hide="create" class="ui fluid form contact">
  <div class="field">  	
	<label>Contato</label>
  	<div class="two fields">
  		<div class="field">
	  		  <div class="ui icon input">
			  	<input type="text" name="phone" id="phone" ng-model="currentPatient.phone" placeholder="Telefone">
			  	<i class="red asterisk icon"></i>
			  </div>
		 </div>
		 
		 <div class="field">
		 	<div class="ui icon input">
			  	<input type="text" name="celPhone" id="celPhone" ng-model="currentPatient.celPhone" placeholder="Celular">
			  	<i class="red asterisk icon"></i>
		  	</div>
		 </div>
  	</div>
  	<div class="field">
		<input type="text" name="email" ng-model="currentPatient.email" placeholder="Email">
  	</div>
  </div>
  
  <div class="ui clearing divider"></div>
  
	<div class="field">
		<label>Localidade</label>
		<div class="two fields">
			<div class="field">
			
				<div class="ui search selection dropdown state" >
				  <input type="hidden" ng-model="address.city.state" name="state">
				  <div class="default text">{{selectedState}}</div>
				  <i class="dropdown icon"></i>
				  <div class="menu" >
				    <div
						ng-repeat="state in states" class="item" 
						ng-click="selectState(state)">{{state.uf}}</div>
				  </div>
				</div>
			 
			</div>
			
			<div class="field">
			
				<div class="ui search selection dropdown city" >
				  <input type="hidden" ng-model="address.city" name="city">
				  <div class="default text">{{selectedCity}}</div>
				  <i class="dropdown icon"></i>
				  <div class="menu" >
				    <div
						ng-repeat="city in citys" class="item" 
						ng-click="selectCity(city)">{{city.name}}</div>
				  </div>
				</div>
				
			</div>
			
		</div>
	</div>
	<div class="field">
		<label>Endereço</label>
		
		<div class="four fields">
		
				<div class="field">
					<input type="text" name="endereco" placeholder="Rua" ng-model="address.street">
				</div>
				
				<div class="field">
					<input type="text" name="number" id="address_number" placeholder="Numero" ng-model="address.number">
				</div>
				
				<div class="field">
					<input type="text" name="number" placeholder="Bairro" ng-model="address.neighborhood">
				</div>
				
				<div class="field">
					<input type="text" name="number" placeholder="Cep" ng-model="address.cep">
				</div>
				
				
		</div>
		
		<div class="field">
			<input type="text" name="number" placeholder="Complemento" ng-model="address.complement">
		</div>
	
	</div>
</div>
  
  <div ng-click="isFormContactValid() && register()" class="ui right floated basic segment">
	  	<div class="ui button">
			  Salvar
		</div>
  </div>
  
</div>