<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<script>
$(document)
		.ready(function() {  
		
		$.fn.form.settings.rules.cpf = function(cpf) {
				console.log('validação');
			    var numeros, digitos, soma, i, resultado, digitos_iguais;
			    digitos_iguais = 1;
			    if (cpf.length < 11)
			          return false;
			    for (i = 0; i < cpf.length - 1; i++)
			          if (cpf.charAt(i) != cpf.charAt(i + 1))
			                {
			                digitos_iguais = 0;
			                break;
			                }
			    if (!digitos_iguais)
			          {
			          numeros = cpf.substring(0,9);
			          digitos = cpf.substring(9);
			          soma = 0;
			          for (i = 10; i > 1; i--)
			                soma += numeros.charAt(10 - i) * i;
			          resultado = soma % 11 < 2 ? 0 : 11 - soma % 11;
			          if (resultado != digitos.charAt(0))
			                return false;
			          numeros = cpf.substring(0,10);
			          soma = 0;
			          for (i = 11; i > 1; i--)
			                soma += numeros.charAt(11 - i) * i;
			          resultado = soma % 11 < 2 ? 0 : 11 - soma % 11;
			          if (resultado != digitos.charAt(1))
			                return false;
			          return true;
			          }
			    else
			        return false;
		}
			
		$('select.dropdown.estado')
			.dropdown()
		;
		$('.cidade')
			.dropdown()
		;
		
		$('.selection.dropdown')
			.dropdown();
		
		$("#cpf").numeric();
		
		$("#rg").numeric();
		
		$('.ui.form.personnal').form({        
		      firstName: {
		        identifier: 'firstName',
		        rules: [{
		          type: 'empty',
		          prompt: 'Por favor insira o nome do paciente'
		        }]
		      },       
		      lastName: {
		        identifier: 'lastName',
		        rules: [{
		          type: 'empty',
		          prompt: 'Por favor insira o sobrenome do paciente'
		        }]
		      },
		      rg: {
		          identifier: 'rg',
		          rules: [{
		            type: 'empty',
		            prompt: 'Por favor insira o RG do paciente'
		          }]
		      },
		      cpf: {
		          identifier: 'cpf',
		          rules: [{
		            type: 'cpf',
		            prompt: 'Por favor insira um cpf válido, para o paciente'
		          }]
		      },
		      birthDate: {
		    	  identifier: 'birthDate',
		    	  rules: [{
		    		  type: 'empty',
		    		  prompt: "Por favor insira a data de nascimento do paciente"
		    	  }]
		      }		      
		    },
		      {
		      on: 'blur',
		      inline: 'true'
		    });
		
	});
</script>

<div class="ui fluid form personnal">

  <div class="two fields"> 
	<div class="field">
	  <label>Nome</label>
	  <div class="two fields">
		<div class="field">
		  <div class="ui icon input">
		  		<input type="text" id="firstName" name="firstName" placeholder="Nome" ng-model="currentPatient.firstName">
		  		<i class="red asterisk icon"></i>
		  	</div>
		</div>
		<div class="field">
			<div class="ui icon input">
		  		<input type="text" name="lastName" id="lastName" placeholder="Sobrenome" ng-model="currentPatient.lastName">
		  		<i class="red asterisk icon"></i>
		  	</div>
		</div>
	  </div>
	</div>
	<div class="field">
		<label>Informações Adicionais</label>
		<div class="two fields">
			<div class="field">
				<div class="ui icon input">
			  		<input type="text" id="rg" name="rg" placeholder="Identidade/RG" ng-model="currentPatient.rg">
			  		<i class="red asterisk icon"></i>
		  		</div>
			</div>
			<div class="field">
				<div class="ui icon input">
			  		<input type="text" name="cpf" id="cpf" placeholder="CPF" ng-model="currentPatient.cpf">
			  		<i class="red asterisk icon"></i>
		  		</div>
			</div>
	  </div>
	</div>
  </div>
  
	  <div class="two fields">
		  	<div class="field">
		  		<label>Data de Nascimento</label>
		  
				  <div class="ui icon input">
				  	<input id="birthDate" type="date" name="data" ng-model="currentPatient.birthDate">
				  	<i class="red asterisk icon"></i>
				  </div>
				  
		  </div>
		  
		  <div class="field">
		  		<label>Pessoais</label>
				<div class="ui selection dropdown">
				  <input type="hidden" name="gender">
				  <i class="dropdown icon"></i>
				  <div class="default text">Sexo</div>
				  <div class="menu">
				    <div class="item" data-value="Masculino" data-text="Masculino" ng-click="selectGender('Masculino')">
				      <i class="male icon"></i>
				      Masculino
				    </div>
				    <div class="item" data-value="Feminino" data-text="Feminino" ng-click="selectGender('Feminino')">
				      <i class="female icon"></i>
				      Feminino
				    </div>
				  </div>
				</div>
		  </div>
			
	  </div>
	  
	  
	  <div class="field">
	  	<label>Observações</label>
	  	<textarea ng-model="currentPatient.observation"></textarea>
	  </div>
  </div>
  
  <div ng-click="isFormPersonnalValid() && nextScreen()" class="ui right floated basic segment">
	  	<div class="ui right labeled icon button">
			  <i class="right arrow icon"></i>
			  Próximo
		</div>
  </div>
  
</div>		