#consulta .card .description {
  min-height: 35px;
}

#container {
	margin: 5px;
}

.flowing .message .popup{
	max-width: 10px;
}

#googleSearch{
	min-height: 600px;
	min-width: 800px;
	
	max-height: 768px;
	max-width: 1024px;
}