<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<!-- Validação do Formulário -->
<script>
function validateForm(){
	var isValid = $('.ui.form.agendamento').form('validate form');
}

(function ($) {
    $('.ui.form.agendamento').form({        
      patient: {
        identifier: 'patient',
        rules: [{
          type: 'empty',
          prompt: 'Por favor insira o nome do paciente'
        }]
      },       
      phone: {
        identifier: 'phone',
        rules: [{
          type: 'empty',
          prompt: 'Por favor insira o telefone do paciente'
        }]
      },
      date: {
          identifier: 'date',
          rules: [{
            type: 'empty',
            prompt: 'Por favor insira a data da consulta'
          }]
      },
      hour: {
          identifier: 'hour',
          rules: [{
            type: 'empty',
            prompt: 'Por favor insira a hora da consulta'
          }]
      }
      
    },
      {
      on: 'blur',
      inline: 'true'
    });
//Mascaras dos inputs ...
$('#hour').mask('99:99');

$("#phone").mask("(999) 9999-9999");

$('select.dropdown')
.dropdown()
;

$('.ui.selection.dropdown')
	.dropdown();

  }(jQuery));


</script>

<div class="ui horizontal divider">
	Agendamento de Consultas
</div>

<!-- Formulário Agendamento -->
<form name="agendamentoForm" ng-controller="AgendamentoCreateController"
    ng-class="{'ui loading fluid form': state}" 
    class="ui fluid form agendamento" novalidate>

  <div class="two fields">
	
	<div class="field">
		<label>Paciente</label>
		<div class="ui icon input">
			<input ng-model="novoAgendamento.patient" id="patient" placeholder="Nome do Paciente" type="text" required>
			<i class="asterisk red icon"></i>
		</div>
	</div>
	
	<div class="field">
		<label>Telefone</label>
		<div class="ui icon input">	
			<input ng-model="novoAgendamento.phone" id="phone" placeholder="Telefone" type="tel" required>
			<i class="asterisk red icon"></i>
		</div>
	</div>
	
  </div>
  
  <div class="three fields">
	<div class="field">
		<label>Classificação</label>
		<select ng-model="novoAgendamento.classification" class="ui dropdown">
			<option value="">{{ currentClassification }}</option>
			<option value="1">Eletiva</option>
			<option value="2">Encaixe</option>
			<option value="3">Emergência</option>
		</select>
	</div>
	
	<div class="field">
		<label>Convênio</label>
			<div class="ui selection dropdown" >
				  <input type="hidden" ng-model="novoAgendamento.covenant" name="covenant">
				  <div class="default text">{{ currentCovenant }}</div>
				  <i class="dropdown icon"></i>
				  <div class="menu" >
				    <div
						ng-repeat="covenant in covenants" class="item" 
						data-value="{{covenant.id}}" ng-click="selectCovenant(covenant)">{{covenant.name}}</div>
				  </div>
				</div>
	</div>	
	
	<div class="field">
		<label>Categoria</label>
			<div class="ui selection dropdown" >
			  <input type="hidden" ng-model="novoAgendamento.category" name="category">
			  <div class="default text">{{ currentCategory }}</div>
			  <i class="dropdown icon"></i>
			  <div class="menu" >
			    <div
					ng-repeat="category in categorias" class="item" 
					data-value="{{category.id}}" ng-click="selectCategory(category)">{{category.name}}</div>
			  </div>
			</div>
	</div>
  </div>
  
  <div class="two fields">
	<div class="field">
		<label>Data</label>
		<div class="ui icon input">
			<input ng-model="novoAgendamento.date" id="date" type="date" required>
			<i class="asterisk red icon"></i>
		</div>
	</div>
	
	<div class="field">
		<label>Hora</label>
		<div class="ui icon input">
			<input ng-model="novoAgendamento.hour" id="hour" placeholder="hh:mm" type="text" required>
			<i class="asterisk red icon"></i>
		</div>
	</div>
  </div>
  
  <div class="field">
	<label>Observações</label>
	<textarea ng-model="novoAgendamento.observation"></textarea>
  </div>
  
	<div class="ui green labeled icon button" onclick="validateForm();" ng-click="agendamentoForm.$valid && register()">
		<i class="pin icon"></i>
		Agendar
	</div>
</form>