<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<div ng-controller="AgendamentoShowController">
	<div class="ui horizontal divider">
		Consultas de {{message}}
	</div>
	
	<!-- filtrar os dados -->
	<div class="ui labeled action input">
		<div class="ui green label">
			Filtrar por data
		</div>
		<input type="date" ng-model="filteredDate">
			<div class="ui icon button" ng-click="filterDate()"><i class="filter icon"></i></div>
	</div>
	
	<!-- Em Grid -->
	<div ng-show="agendamento.length > 0" class="ui stacked segment">
		<div class="ui six doubling cards">
		<!-- Lista dos Pacientes -->
		  <div ng-repeat="consulta in agendamento" id="consulta" class="card">
			<div class="content">
			  <div class="header">{{ consulta.hour }}</div>
			  <div class="meta">
				<div class="description">
				{{ consulta.patient }}
			  </div>
			  </div>
			</div>
			<div class="extra content">
				<div class="left floated">
					<a ui-sref="agendamento.create({agendamentoId: consulta.id})"><i class="edit icon"></i>Editar</a>
				</div>
			  <div class="right floated like">
			  	<a ng-click="deletar(consulta)"><i class="delete icon"></i>Excluir</a>
			  </div>
			</div>
		  </div>
		</div>
	</div>
	
	
	<div ng-show="agendamento.length <= 0" class="ui icon info message">
		<i class="info icon"></i>
		  <div class="header">
		    Que pena.
		  </div>
		  <p>Parece que não há consultas marcadas para o dia, {{ message | date : 'dd/MM/yyyy' }}.</p> 
		  <a ui-sref="agendamento.create">Agendar uma consulta</a>
	</div>
</div>
