<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<div ng-controller="AgendamentoShowController">
	
	<div class="ui horizontal divider">
		Consultas de {{ message | date : 'dd/MM/yyyy' }}
	</div>
	
	<!-- filtrar os dados -->
	<div class="ui labeled action input">
		<div class="ui green label">
			Filtrar por data
		</div>
		<input type="date" ng-model="filteredDate">
			<div class="ui icon button" ng-click="filterDate()"><i class="filter icon"></i></div>
	</div>
	
	<!-- Tabela com os dados -->
	<table ng-show="agendamento.length > 0" class="ui green table">
	  <thead>
		<tr>
		  <th>Paciente</th>
		  <th>Data</th>
		  <th>Hora</th>
		  <th>Telefone</th>
		  <th>Ações</th>
		</tr>
	  </thead>
	  <tbody>
		<tr ng-repeat="consulta in agendamento">
		  <td>{{ consulta.patient }}</td>
		  <td>{{ consulta.date | date:'dd/MM/yyyy' }}</td>
		  <td>{{ consulta.hour }}</td>
		  <td>{{ consulta.phone }}</td>
		  <td>
		  <!-- Ações -->
			<div class="ui inverted icon buttons">
				<div ui-sref="agendamento.create({agendamentoId: consulta.id})" class="ui button">
					<i class="edit icon"></i>
				</div>
				<div ng-click="deletar(consulta)" class="ui red button">
					<i class="delete icon icon"></i>
				</div>
			</div>
			
		  </td>
		</tr>
	  </tbody>
	</table>
	
	<div ng-show="agendamento.length <= 0" class="ui icon info message">
		<i class="info icon"></i>
		  <div class="header">
		    Que pena.
		  </div>
		  <p>Parece que não há consultas marcadas para o dia {{ message | date : 'dd/MM/yyyy' }}.</p> <a ui-sref="agendamento.create">Agendar uma consulta</a>
	</div>
</div>