<div class="ui green raised segment">
	<!-- Menu de cima -->
	<div class="ui basic vertical segment">
		
		<div class="ui two column grid">
			<div class="column">
				<div class="ui icon inverted green buttons">
				
					<div ui-sref="grid" class="ui button">
					  <i class="calendar outline icon"></i>
					</div>
					
					<div class="ui active button">
						<i class="grid layout icon"></i>
					</div>
					<div class="ui button">
						<i class="list layout icon"></i>
					</div>
										
					<div class="ui button">
						<i class="pin icon"></i>
					</div>
					
				</div>
			</div>
				
			<div class="right aligned column">
				<div class="ui action input">
				  <input type="text" placeholder="Buscar consulta...">
				  <div class="ui green icon button"><i class="search icon"></i></div>
				</div>
			</div>
			<!--
			<div class="right aligned column">
				<div class="ui labeled icon button">
					<i class="write icon"></i>
					Cadastrar Novo
				</div>
			</div>
			-->
		</div>
		
	</div>	

	<div class="ui horizontal divider">
			Lista de Consultas
	</div>	

	<div class="ui basic vertical segment">
		
	</div>	
</div>