<script>
  (function() {
    var cx = '015057493643315210179:xyajmn8ap_u';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//www.google.com/cse/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<div class="ui stacked blue segment">
	
	<div class="ui horizontal divider">Busca no Google</div>
	
<gcse:search></gcse:search>
	
</div>