<script type="text/javascript">
$(document).ready(function() {
	$('.ui.search.agendamento').search({
		apiSettings: {
	        url: 'rest/people/search?searchString={query}'
	    },
		searchFullText: false
	});
});
</script>

<div class="ui green raised segment">
	
	<!-- Sub menu do topo -->
	<div class="ui two column grid">	
			
			<div class="column">
				<div class="ui green icon menu">
					
					<a ui-sref-opts="{ reload: true }" ui-sref="pacientes.grid" ui-sref-active="active" class="item">
						<i class="grid layout icon"></i>
					</a>
					<a ui-sref-opts="{ reload: true }" ui-sref-active="active" ui-sref="pacientes.list" class="item">
						<i class="list layout icon"></i>
					</a>
					
					<a ui-sref="pacientes.show" ui-sref-active="active" class="item">
						<i class="user icon"></i>
						
					</a>
										
					<a ui-sref="pacientes.create" ui-sref-active="active" class="item">
						<i class="write icon"></i>
						
					</a>		
					
				</div>
				<!--
				<div class="display-picker">
					<input id="datepicker" value="10/10/2011" style="width:150px;" />
				</div>
				-->
			</div>
			
			<div class="right aligned column">
				<!--<div class="ui stackable two column grid">
										
					<div class="column">
						<div class="ui action input">
						  <input type="text" placeholder="Nome do paciente">
						  <div class="ui green icon button"><i class="search icon"></i></div>
						</div>
					</div>					
					
					<div class="column">
						<div class="ui action input">
						  <input type="date">
						  <div class="ui green icon button"><i class="calendar outline icon"></i></div>
						</div>
					</div>
										
				</div>
				-->
				
				<div class="ui fluid search agendamento">
					<div class="ui icon input">
						<input class="prompt" type="text" placeholder="Buscar paciente">
						<i class="search icon"></i>
					</div>
					<div class="results"></div>
				</div>
				
			</div>
			
		</div>
		

	<div ui-view>
	</div>


</div>
<!-- fim pacientes -->